main {
    .container {
        display: flex;
        align-items: center;
        flex-direction: column;

        & h2 {
            margin: 30px;
            text-align: center;
        }

        .row {
            row-gap: 15px;
            width: 100%;

            .card {
                .btn-favorite {
                    width: fit-content;
                    flex: none;
                    position: absolute;
                    right: 5px;
                    top: 5px;
                    border-radius: 50px;
                }
            }
        }
    }
}

